*, html, body, footer{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
/* reset css start */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css end */

:root{
    --pg: #555555;
    --brand1: #0872b9;
    --brand2: #5bc5f4;
    --white: #ffffff;
    --black: #353535;
    --footer: #555555;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
@font-face {
    font-family:'OpenSans-Regular';
    src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family:'Oswald-Bold';
    src: url('./fonts/Oswald/static/Oswald-Bold.ttf');
}
@font-face {
    font-family:'Oswald-regular';
    src: url('./fonts/Oswald/static/Oswald-Regular.ttf');
}
@font-face {
    font-family:'myriad-pro-regular';
    src: url('./fonts/myriad-pro/MYRIADPRO-REGULAR.woff');
}
p{
    font-size: 13px;
    line-height: 24px;
    color: var(--pg);
    font-weight: 400;
    font-family: "Open Sans";
}
.container{
    width: 992px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 0px 15px;
    box-sizing: border-box;
    width: 992px;

}
.col-1{
    width: 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
    padding: 0px 15px;
}
.col-2{
    width: calc(8.333333333333334*2%);
    flex: 0 0 calc(8.333333333333334*2%);
    padding: 0px 15px;
}
.col-3{
    width: calc(8.333333333333334*3%);
    flex: 0 0 calc(8.333333333333334*3%);
    padding: 0px 15px;
}
.col-4{
    width: calc(8.333333333333334*4%);
    flex: 0 0 calc(8.333333333333334*4%);
    padding: 0px 15px;
}
.col-5{
    width: calc(8.333333333333334*5%);
    flex: 0 0 calc(8.333333333333334*5%);
    padding: 0px 15px;
}
.col-6{
    width: calc(8.333333333333334*6%);
    flex: 0 0 calc(8.333333333333334*6%);
    padding: 0px 15px;
}
.col-7{
    width: calc(8.333333333333334*7%);
    flex: 0 0 calc(8.333333333333334*7%);
    padding: 0px 15px;
}
.col-8{
    width: calc(8.333333333333334*8%);
    flex: 0 0 calc(8.333333333333334*8%);
    padding: 0px 15px;
}
.col-9{
    width: calc(8.333333333333334*9%);
    flex: 0 0 calc(8.333333333333334*9%);
    padding: 0px 15px;
}
.col-10{
    width: calc(8.333333333333334*10%);
    flex: 0 0 calc(8.333333333333334*10%);
    padding: 0px 15px;
}
.col-11{
    width: calc(8.333333333333334*11%);
    flex: 0 0 calc(8.333333333333334*11%);
    padding: 0px 15px;
}
.col-12{
    width: calc(8.333333333333334*12%);
    flex: 0 0 calc(8.333333333333334*12%);
    padding: 0px 15px;
}